@media(max-width: 1499px){
	.responsive-content {
    padding-top: 80px;
    padding-bottom: 65px;
}
}
@media(max-width: 1299px){
		.responsive-content {
    padding-top: 40px;
    padding-bottom: 15px;
}

}

@media(max-width: 1199px){
/* ---large--*/
header .row {
    min-height: 650px;
}
.responsive-section > img {
    left: -115px;
}
.address {
    padding: 50px 0px;
}
.details h4 {
    font-size: 25px;
}
}

@media(max-width: 991px){
	/* ---md--*/
	header .row {
    min-height: 550px;
}
.responsive-content {
    padding-top: 0px;
    padding-bottom: 0px;
}
.responsive-section {
    padding: 40px 0px;
}
.address p {
    font-size: 16px;
    margin-bottom: 40px;
}
.address {
    padding: 50px 0px;
} 
.map-section {
    height: 400px;
}
.pricing-table {
    border: 1px solid #83a7a5;
    margin: 10px;
}
.info-download h2 {
    font-size: 25px;
}

}

@media(max-width: 767px){
	/* ---sm--*/
	header .row {
    min-height: 450px;
}
 .banner{
 	text-align: center;
 }
 .banner h1 {
    font-size: 35px;
    font-weight: 600;
}
.responsive-section > img {
   display: none;
}
.protfolio-section {
    margin-top: 20px;
    margin-bottom: 20px;
}
.address {
    text-align: center;
}
.map-section .map-img {;
    display: none;
}
.details {
    text-align: center;
}
.download-button {
    text-align: center;
}
.download-section {
    padding: 150px 0px;
}
.about-footer {
    text-align: center;
}
.address-section {
    text-align: center;
}
footer {
    padding: 40px 0px;
}
.footer-end-left {
    padding: 15px 0px;
}
.footer-end-right {
    padding: 15px 0px;
}
}
